body{
    background-color: #14213d;
}
table {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    background-color: #e5e5e5;
    margin: auto;
    }

  td, th {
    
    border: 2px dotted #fca311;
    text-align: left;
    padding: 10px;

  }
  

  #btn{
    width: 175px;
    margin: 50px;
    margin-left: 43%;
    padding: 30px;
    background-color: #e07a5f;
    color: black;
    font-size: 20px;
    border-radius: 25px;
  }

  #btn:hover{
    background-color: #edf2f4;
    color: black;
    cursor:grab;
  }
 